PORT = 8080
DB_URI = 'mongodb://localhost:27017/e-commerce_db'


#! cloudinary 
CLOUDINARY_CLOUD_NAME = ''
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

#! jwt
JWT_SECRET = "secret"
JWT_EXPIRES_IN = '7d'

#! mail
SMTP_HOST = 'smtp.gmail.com'
SMTO_PORT = 465
SMTP_SERVICE = 'gmail'
SMTP_MAIL_FROM = ''
SMTP_PASSWORD = ''
SENDER_NAME = ''